:root {
    --main-radius: 0px;
    --main-padding: 0px;
}

body {
    font-family: "Times New Roman", sans-serif;
    margin: 0px;
}

.GridContainer {
    display: grid;
    height: 120vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.4fr 0fr 0.3fr;
    grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
    grid-gap: 0em;
}

@media only screen and (max-width: 550px) {
    .GridContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1fr;
        grid-template-areas:
      "header"
      "sidebar"
      "main"
    }
}

/*SideBar option: Makes the fonts size smaller when the window is reduced in size
However, doing this option will make you loose the mobile set option*/
/*@media only screen and (max-width: 1000px){*/
/*    #sidebar a{*/
/*        font-size: 10px;*/
/*    }*/

/*    #sidebar a1{*/
/*        font-size: 13px;*/
/*    }*/
/*}*/

header {
    background: black;
    grid-area: header;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#headerIcons{
    padding-left: 30px;
    padding-top: 48px;
    padding-bottom: 15px;
}


main {
    background: white;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#sidebar {
    background: #AB5FDD;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#sidebar a1 {
    text-decoration: none;
    padding-top: 35px;
    padding-left: 35px;
    font-weight: bold;
    font-size: 25px;
    color: black;
    display: block;
}

#sidebar a {
    text-decoration: none;
    font-size: 18px;
    padding-left: 55px;
    padding-top: 15px;
    color: black;
    display: block;
}

#sidebar a:hover {
    color: black;
    font-weight: bold;
    cursor: pointer;

}

/*Profile image*/
.userImg{
    position: absolute;
    right: 3%;
}

/*Dashboard Course Cards*/
/*<<----------------------------->>*/
#card {
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.5);
    border: solid 3px;
    border-radius: 20px;
    height: 230px;
    width: 350px;

}

#card :hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    border-radius: 20px;
    cursor: pointer;
}

/*Cards DashBoard page*/
#CardMover{
    padding: 90px 100px 90px 100px;
    width: 355px;
}

#CardContainer{
    padding-top: 25px;
    padding-left: 20px;
}

#CardContainer :hover{
    box-shadow: none;
}

#CardContainer #changeFrequency{
    font-size: 15px;
    font-weight: normal;
    color: blue;
}

#CardContainer #cardUnsub{
    padding-left: 115px;
    font-size: 15px;
    font-weight: normal;
    color: red;
}

#CardContainer a{
    font-weight: bold;
    font-size: 35px;
}

#CardContainer p{
    font-size: 15px;
}

#CardContainer a1{
    color: green;
}
/*<<--------------------------------->>*/
/*DashBoard Course Cards ends here...*/


/*Edit Course page*/
/*<<--------------------------------->>*/
#FrequencyContainer a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding-left: 25px;
    padding-top: 30px;
    color: black;
    display: block;
}

#unsubscribe {
    color: white;
    cursor: pointer;
    background-color: #ef021f;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    position: absolute;
    right: 30px;
}

#deliverable_dow {
    padding-left: 25px;
    font-weight: bold;
}

#checkbox_day {
    padding-left: 25px;
}

#time-Label {
    font-weight: bold;
}

#formDoneBttn{
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background-color: #AB5FDD;
    border-radius: 5px;
    cursor: pointer;
}
/*End of course edit page*/
/*<<--------------------------------->>*/


/* Account Settings page */
/*<<--------------------------------->>*/
.accountSettings{
    background-color: white;
}

/* might need to adjust position*/
.profile-pic-div{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}
.profile-pic-divs{
    height: 150px;
    width: 150px;
    position: fixed;
    top: 150px;
    left: 420px;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

#photo{
    height: 100%;
    width: 100%;
}

#file{
    display: none;
}

#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: "Times New Roman";
    font-size: 15px;
    cursor: pointer;
    display: none;
}

#Account_Settings{
    cursor: pointer;
}

#AccSettngPic{
    padding-top: 150px;
    position: absolute;
    left: 50%;
}

#AccntSettngInfo{
    padding-top: 120px;
}

#AccntSettngInfo label{
    font-weight: bold;
    font-family: "Times New Roman";
}

#AccntSettngInfo input{
    background-color: #AB5FDD;
    color: white;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 20px;
    cursor: pointer;
}
#chngPassLink{
    color: blue;
    font-size: 12px;
    cursor: pointer;
}

#chngNmLink{
    color: blue;
    font-size: 12px;
    cursor: pointer;
}
/*Account Settings page End*/
/*<<--------------------------------->>*/
